# Credenciais do Selenium Grid Hub (Porta 4444)
SELENIUM_HUB_USER=seu_usuario
SELENIUM_HUB_PASSWORD=uma_senha_muito_segura

# Senha para visualização do navegador no NoVNC (Porta 7900)
SELENIUM_VNC_PASSWORD=sua_senha_vnc_aqui
